
.Card:hover{

    background-color: white;
    color:black;
    transform: scale(1.2);
    
}

.Card{
    border-radius: 20px;
}
.name{
    color: white;
    }
.price{
    color: black;
    font-weight: bolder;
    background-color:white;
    border-radius: 50px;
    }

.Card:hover .name{
    color:WHITE;
    font-weight: bolder;
    
}
.Card:hover .price{
    color:blue;
}
.Card:hover .size{
    color:black;
    font-weight: bolder;
}